# Variables

## Simple Variables

    string
    int
    float
    boolean

## Complex Variables

    list 
    set
    object
    tuple

In [6]:
# string
string = "any sequence of characters" #strings use quotes or '' 

#never name varaibles this crappy way
s = str("something else")
#snake casing, not hyphens, not NumberString, not numberString
number_string = "123"
print(type (string))
print(type(s), s)

#Jupyter will print (display) the last line
number_string

<class 'str'>
<class 'str'> something else

'123'

In [10]:
# int
x = 1
y = int('3')

print(x)
print(type(y))

#Aligning info to output
print( "x plus y equals", x+y, ", but no f string" )
print( f"x plus y equals {x + y}, but with an f string" )


#concatination is different from addition
string + str(x)

1
<class 'int'>
x plus y equals 4 , but no f string
x plus y equals 4, but with an f string

'any sequence of characters1'

In [13]:
# float

#we can overwrite variable names

x = 1.0
y = float(42)

print(f"x = {x}, y = {y}, and y is a {type(y)}")
#notice what happens to 5
print(f"x + y = {x + y}, but y + 5 = {y + 5}")

x = 1.0, y = 42.0, and y is a <class 'float'>
x + y = 43.0, but y + 5 = 47.0

In [14]:
dataloss = int(52.9999992234895)
dataloss

52

In [17]:
#Boolean = true/false
is_true = True # False
is_false = bool(0)
print(is_true)
print(is_false)

True
False

In [18]:
#Variables store the resolution of code
outcome = x + y
print(outcome)

43.0

## Methods

In [24]:
#String medthods

print(type(string))
print(string.capitalize())
print(string.upper())
print(string.islower())
print(string.endswith("any"))

<class 'str'>
Any sequence of characters
ANY SEQUENCE OF CHARACTERS
True
False

In [25]:
# lfoats and ints have few methods
x = 10
y = 5

# +, -, *, /, % (modulus, ** exponentiation, // floor division)

print(x*y)
print(x/y)
print(x%y)
print(x/3, "normal division")
print(x//3, "floor division")

50
2.0
0
3.3333333333333335 normal division
3 floor division

complex variables on thursday