# collections (the complex data types)


- sets
- tuples
- lists
- dictionaries
- combine collections

In [80]:
#set
#no duplicates, no index (no order), iterable (can loop through), collection, mutable (can change).
set1 = {"Ben", "Jason", "Darlene", "Jason", "Erin"}
#basically never do it this way
set_declared = set(("Ben", "Jason", "G,", "G", "Darlene"))

print (f"set1: {set1}")
print (f"set_declared: {set_declared}")

set1: {'Darlene', 'Ben', 'Jason', 'Erin'}
set_declared: {'Darlene', 'Jason', 'G', 'G,', 'Ben'}

In [81]:
#method to find overlaps
overlaps = set1.intersection(set_declared)
overlaps

{'Ben', 'Darlene', 'Jason'}

In [82]:
#Method to find differnece between two sets
diff = set1.difference(set_declared)
diff

{'Erin'}

In [83]:
set1.add("Halle")
set1

{'Ben', 'Darlene', 'Erin', 'Halle', 'Jason'}

In [84]:
set1.remove("Darlene")
set1

{'Ben', 'Erin', 'Halle', 'Jason'}

In [85]:
#tuple: a collection that exists in parentheses
#non-mutable (cannot change), dublicates, iterable, indexed
tuple1 = (1,2,3,4)
tuple_declared = tuple((3,4,5,6))

print(f"tuple1: {tuple1}")
print(f"tuple_declared: {tuple_declared}")

tuple1: (1, 2, 3, 4)
tuple_declared: (3, 4, 5, 6)

In [86]:
tuple1 = (1,2,3,4,5) #overwriting not changing
tuple1

(1, 2, 3, 4, 5)

In [87]:
tuple1.count(2)
#not many methods because it is non-mutable

1

In [88]:
tuple1.index(1)
#returns the index of the value given

0

In [89]:
print(f"tuple1 = {tuple1}")
tuple1[0]
#returns value at index 0

tuple1 = (1, 2, 3, 4, 5)

1

In [90]:
#list
#mutable, indexed, iterable, duplicates
list1 = ["G", "G", "Paola", "Emil"] #could make empty becuase can always add later
list_declared = list(("G", "G", "Paola", "Emil"))

print(f"list1 = {list1}")
print(f"list_declared = {list_declared}")

list1 = ['G', 'G', 'Paola', 'Emil']
list_declared = ['G', 'G', 'Paola', 'Emil']

In [91]:
#index notation [:]

print(f"list1 = {list1}")
print(f"first index = {list1[0]}")
print(f"last item in list1 = {list1[-1]}") #start at -1 for last, then -2 for second to last, etc.
print(f"series between 2 & 3 items = {list1[1:3]}") #start at index 1, stop before index 3 (python is exclusive)
print(f"everything before index 3 = {list1[:3]}")
print(f"everything after the first = {list1[1:]}") #first item is inclusive

list1 = ['G', 'G', 'Paola', 'Emil']
first index = G
last item in list1 = Emil
series between 2 & 3 items = ['G', 'Paola']
everything before index 3 = ['G', 'G', 'Paola']
everything after the first = ['G', 'Paola', 'Emil']

In [ ]:
#list methods
list1.append("Clare") # add to a list, wont return a new list
list2 = list1.append("Nathan")
print(f"appended Clare = {list1}")
print(f" createdlist2 = {list2}") #None because append does not return anything
removed = list1.pop() # remove
print(f"Removed {removed}. New list1 is {list1}") 
list1[1] = "J" # change index
print(f"Index 1 of list1 changed. New list1 = {list1}")
combined_list = [list1, list_declared] # combine lists
print(f"combined_list = {combined_list}")
combined_lists = [*list1, *list_declared] # combine lists into one list
print(f"combining lists into 1: {combined_lists}")
list1.extend(list_declared)# combine lists
print(f"list1 after extension = {list1}")

appended Clare = ['G', 'G', 'Paola', 'Emil', 'Clare', 'Nathan']
 createdlist2 = None
Removed Nathan. New list1 is ['G', 'G', 'Paola', 'Emil', 'Clare']
Index 1 of list1 changed. New list1 = ['G', 'J', 'Paola', 'Emil', 'Clare']
combined_list = [['G', 'J', 'Paola', 'Emil', 'Clare'], ['G', 'G', 'Paola', 'Emil']]
combining lists into 1: ['G', 'J', 'Paola', 'Emil', 'Clare', 'G', 'G', 'Paola', 'Emil']
list1 after extension = ['G', 'J', 'Paola', 'Emil', 'Clare', 'G', 'G', 'Paola', 'Emil']

In [95]:
#dictionary
#key: value, indexed by key, not ordered, duplicate values but not keys, mutable
# {key: value, key1: value}
dict1 = {"name": "Nathan", "age": 39}
dict_declared = dict(name="Nathan", age=39) #we never do this

print(dict_declared)
dict1

{'name': 'Nathan', 'age': 39}

{'name': 'Nathan', 'age': 39}

In [96]:
#update using index notation
dict1["name"] # get values

'Nathan'

In [97]:
dict1["name"] = "Nate" #change value
dict1

{'name': 'Nate', 'age': 39}

In [98]:
dict1.keys()

dict_keys(['name', 'age'])

In [99]:
dict1.values()

dict_values(['Nate', 39])

In [106]:
students = [
    {"name": "G", "age": 18},
    {"name": "Stacy", "age": 18},
    {"name": "John", "age": 21}]
student

[{'name': 'G', 'age': 18},
 {'name': 'Stacy', 'age': 18},
 {'name': 'John', 'age': 21}]

In [107]:
students[1] #get second student

{'name': 'Stacy', 'age': 18}

In [108]:
students[2] #get name of second student

{'name': 'John', 'age': 21}

In [109]:
students.pop() #remove last student

{'name': 'John', 'age': 21}

In [110]:
students.append({"name": "Nate", "age": 24}) 
students

[{'name': 'G', 'age': 18},
 {'name': 'Stacy', 'age': 18},
 {'name': 'Nate', 'age': 24}]

In [112]:
students[2]["name"] = "Nathan"
students

[{'name': 'G', 'age': 18},
 {'name': 'Stacy', 'age': 18},
 {'name': 'Nathan', 'age': 24}]

In [113]:
dict1["name"] = "Bozo" #update value
dict1

{'name': 'Bozo', 'age': 39}